.student-body {
  margin: 50px !important;
}

.dashboard-nav li a i {
  font-size: 1.5rem;
}

.dashboard {
  margin-top: 30px;
  border: 1px #535e67 solid;
  height: 30vh;
}

.not-applied {
  height: 25vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

.student-footer {
  margin-top: 80px;
}

/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: #666;
  text-transform: uppercase;
  font-size: 9px;
  width: 20%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 24px;
  height: 24px;
  line-height: 26px;
  display: block;
  font-size: 12px;
  color: #333;
  background: white;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #2098ce;
  color: white;
}

/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: #2c3e50;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

.application {
  height: 150vh;
  background: #001328;
}

#msform fieldset {
  background: white;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px #01254e9a;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 30px;
}

.btn-outline-primary {
  color: #2c4975 !important;
  border-color: #2c4975 !important;
}

.building input[type="radio"]:checked + span {
  /* opacity: 1; */
  background-color: #2c4975 !important;
  /* width: 40px;
  height: 40px; */
  /* display: inline-block; */
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
