.logo img {
  padding-top: 8px;
  color: #202020;
  font-size: 1em;
}

.navbar-light .navbar-nav .nav-link {
  color: #202020 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #2c4975 !important;
  color: #fff !important;
}
.apply-now-button {
  color: #2c4975 !important;
}

.btn-primary {
  background-color: #2c4975 !important;
  color: #fff !important;
  border: none !important;
}

nav {
  background-color: #fff !important;
  height: 100px;
}
.navbar-light .navbar-nav .nav-link {
  text-align: center;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.9rem 0.7rem;
}

.navbar-light .navbar-nav .nav-link span {
  display: flex;
}

.fa {
  margin-right: 0.2rem;
  padding: 5px 0;
}

@media (min-width: 768px) {
  .login-btn {
    width: 100px;
  }
}

/* responsive */
.main-menu {
  position: relative;
  z-index: 3;
}
.sub-menu {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .sub-menu {
    padding: 0 1rem;
  }
  .sub-menu.navbar-expand-md .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
  }
}
.user-dropdown .nav-link {
  padding: 0.15rem 0;
}
#sidebar {
  background: #fff;
  height: 100%;
  left: -100%;
  top: 0;
  bottom: 0;
  overflow: auto;
  position: fixed;
  transition: 0.4s ease-in-out;
  width: 100%;
  z-index: 5001;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 1.25rem 1rem 1rem;
}
#sidebar.active {
  left: 0;
}
#sidebar .sidebar-header {
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 1.5rem;
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 40px;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px 16px;
  font-size: 1.1em;
  display: block;
  color: #000;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}
.btn .badge {
  position: absolute !important;
  top: 22px !important;
  margin-left: 2px;
}
#sidebar a[aria-expanded="true"],
#sidebar ul li.active > a {
  color: #007bff;
  background: #e6f2ff;
  border-radius: 6px;
}
a[data-toggle="collapse"] {
  position: relative;
}
#sidebar .links .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  width: 100%;
  opacity: 0;
}
.overlay.visible {
  opacity: 1;
  z-index: 5000;
}
.utility-nav {
  background: #e4e4e4;
  padding: 0.5rem 1rem;
}
.utility-nav p {
  margin-bottom: 0;
}
